.btn_num{
  display: flex;
  height: 10vh;
  width: 10vh ;
  --border-radius: 50%;
  --background: #8AA6A3;
}

.btn_icone{
  display: flex;
  height: 10vh;
  width: 10vh ;
  --border-radius: 50%;
  --background: #4C5958;
}

.tela_resultado{
  background-color: #4C5958;
  height: 25vh;
  width: 95%;
}

#resultado{
  color:white;
  font-size: 3em;
}